astroid==2.3.3
certifi==2019.11.28
cycler==0.10.0
decorator==4.4.2
filterpy==1.4.5
imageio==2.8.0
isort==4.3.21
joblib==0.14.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
llvmlite==0.31.0
matplotlib==3.2.0
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.4
numba==0.48.0
numpy==1.18.1
olefile==0.46
Pillow==7.0.0
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
torch==1.4.0
torchvision==0.5.0
wrapt==1.11.2
